*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}

.container__card {
    max-width: 710px;
    display: flex;
    border-radius: 10px;
    background-color: white;
}


.container__card__img {
    flex-basis: 270px;
    background-image: url("images/drawers.jpg");
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container__card__content {
    flex: 1;
    padding: 30px 40px;
}

.container__card__content__title {
    margin-bottom: 15px;
    line-height: 1.25;
    font-size: 20px;
    font-weight: bold;
    color: hsl(217, 19%, 35%);
}

.container__card__content__desc {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    color: hsl(214, 17%, 51%);
}

.container__card__content__about {
    display: flex;
    justify-content: space-between;
}

.container__card__content__about__user {
    margin-top: 20px;
    display: flex;
}

.container__card__content__about__user__picture {
    width: 40px;
    border-radius: 50%;
}

.container__card__content__about__user__info {
    margin-left: 20px;
    font-size: 13px;
    align-self: center;
}

.container__card__content__about__user__info__name {
    font-weight: 700;
    margin-bottom: 8px;
    color: hsl(217, 19%, 35%);
}

.container__card__content__about__user__info__time {
    color: hsl(212, 23%, 69%);
    font-weight: 500;
}

.container__card__content__about__share {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.container__card__content__about__share__menu {
    position: absolute;
    top: -50px;
    left: -100px;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
}

.container__card__content__about__share__menu::after {
    position: absolute;
    bottom: -10px;
    left: 105px;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
}

.container__card__content__about__share__menu > * {
    margin-right: 10px;
}

.container__card__content__about__share__menu__title {
    color: hsl(212, 23%, 69%);
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.container__card__content__about__share__menu__icon {
    cursor: pointer;
}

.container__card__content__about__share__button {
    padding: 8px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    cursor: pointer;
}

.container__card__content__about__share__button:hover {
    background-color: hsl(214, 17%, 51%);
}

.container__card__content__about__share__button:hover .container__card__content__about__share__button__image {
    filter: brightness(3);
}

.container__card__content__about__share__button.active {
    background-color: hsl(214, 17%, 51%);
}

.container__card__content__about__share__button.active .container__card__content__about__share__button__image {
    filter: brightness(3);
}

.hidden {
    display: none;
}

@media only screen and (max-width: 710px) {
    .container__card {
        width: 375px;
        flex-direction: column;
    }

    .container__card__img {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        flex-basis: 250px;
    }
}